<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ch08.opengl.internal.OpenGLApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="OpenGL Perspective"
            class="ch08.opengl.internal.Perspective"
            id="ch07.OpenGL.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="ch08.OpenGL.category"
            class="ch08.opengl.views.GlobeView"
            id="ch08.opengl.views.GlobeView"
            name="Earth View">
      </view>
      <view
            allowMultiple="true"
            category="ch08.OpenGL.category"
            class="ch08.opengl.views.GLChartView"
            icon="icons/chart.gif"
            id="ch08.opengl.views.GLChartView"
            name="OpenGL Chart">
      </view>
      <view
            allowMultiple="true"
            category="ch08.OpenGL.category"
            class="ch08.opengl.views.GLCubesView"
            id="ch08.opengl.views.GLCubesView"
            name="OpenGL Cubes">
      </view>
      <view
            allowMultiple="false"
            category="ch08.OpenGL.category"
            class="ch08.opengl.views.NavView"
            id="ch08.opengl.views.NavView"
            name="Navigator View">
      </view>
      
      <category
            id="ch08.OpenGL.category"
            name="OpenGL">
      </category>
      
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ch08.OpenGL.application"
            name="RCP OpenGL Application">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="RCP OpenGL Application">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
